<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Gesture Cloud</title>

<meta name="description" content="">

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="initial-scale=1" />
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="icon" type="image/png" href="assets/favicon/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="assets/favicon/favicon-16x16.png" sizes="16x16"/>
</head>

<body>

	<nav>
    <h1><a href="/">Gesture Cloud</a></h1>
    <div><a href="/about">About</a></div>
  	</nav>

	{{ content }}

</body>
</html>